openapi: 3.0.0
servers:
  - url: "https://api.greentravel.ua/api"
info:
  version: "1.0.0"
  title: greentravel-api
tags:
  - name: data
    description: Проверка или получение данных
  - name: handbooks
    description: Справочники
  - name: greencard
    description: Оформление и расчет полиса GreenCard
  - name: osago
    description: Оформление и расчет полиса ОСАГО
  - name: osago-salamandra
    description: Оформление и расчет полиса ОСАГО через "Саламандра"
  - name: vzr
    description: Оформление и расчет полиса ВЗР
  - name: orders
    description: Действия с сохраненными полисами
paths:
  /data/inn:
    get:
      tags:
        - data
      operationId: getInnInfo
      parameters:
        - $ref: '#/components/parameters/search'
      summary: Проверка и расшифровка ИНН
      responses:
        '200':
          description: response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/innInfo'
        '422':
          $ref: '#/components/responses/resp422'
      x-swagger-router-controller: Inn
  /handbooks/cars:
    get:
      tags:
        - handbooks
      operationId: getCars
      parameters:
        - $ref: '#/components/parameters/search'
      summary: Справочник марок авто
      responses:
        '200':
          description: response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/cars'
        '422':
          $ref: '#/components/responses/resp422'
      x-swagger-router-controller: Cars
  /handbooks/cars/{car_mark_id}/models:
    get:
      tags:
        - handbooks
      operationId: getCarModels
      parameters:
        - name: car_mark_id
          in: path
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/search'
      summary: Справочник моделей авто
      responses:
        '200':
          description: response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/carModels'
        '404':
          $ref: '#/components/responses/resp404'
      x-swagger-router-controller: Cars
  /handbooks/cars/find:
    get:
      tags:
        - handbooks
      operationId: getFindVehicle
      parameters:
        - $ref: '#/components/parameters/search'
      summary: Поиск информации по номеру авто
      responses:
        '200':
          description: response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/findVehicle'
      x-swagger-router-controller: Cars
  /handbooks/transport:
    get:
      tags:
        - handbooks
      operationId: getTransport
      parameters:
        - $ref: '#/components/parameters/calcType'
      summary: Типы авто (категории)
      responses:
        '200':
          description: response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/transport'
      x-swagger-router-controller: Transport
  /handbooks/transport/{transport_category_id}/powers:
    get:
      tags:
        - handbooks
      operationId: getTransportPowers
      parameters:
        - name: transport_category_id
          in: path
          required: true
          schema:
            type: string
      summary: Варианты мощности типа авто
      responses:
        '200':
          description: response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/transportPower'
        '404':
          $ref: '#/components/responses/resp404'
      x-swagger-router-controller: Transport
  /handbooks/vzrRanges:
    get:
      tags:
        - handbooks
      operationId: getVzrRanges
      summary: Справочник периодов для тур. страховки
      responses:
        '200':
          description: response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/vzrRange'
      x-swagger-router-controller: VzrRange
  /handbooks/vzrRanges/{vzr_range_id}/days:
    get:
      tags:
        - handbooks
      operationId: getVzrRangeDays
      parameters:
        - name: vzr_range_id
          in: path
          required: true
          schema:
            type: string
      summary: Справочник дней для периода тур. страховки
      responses:
        '200':
          description: response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/vzrRangeDay'
      x-swagger-router-controller: VzrRange
  /handbooks/cities:
    get:
      tags:
        - handbooks
      operationId: getCities
      parameters:
        - $ref: '#/components/parameters/search'
      summary: Поиск городов
      responses:
        '200':
          description: response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/findCity'
      x-swagger-router-controller: Cities
  /handbooks/cities/local:
    get:
      tags:
        - handbooks
      operationId: getCitiesLocal
      parameters:
        - $ref: '#/components/parameters/search'
      summary: Поиск городов по локальной БД
      responses:
        '200':
          description: response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/findCityLocal'
      x-swagger-router-controller: Cities
  /greencard:
    post:
      tags:
        - greencard
      summary: Сохранение черновика зеленой карты
      operationId: postGreencardDraft
      requestBody:
        $ref: '#/components/requestBodies/greencard'
      responses:
        '201':
          description: ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/order'
        '422':
          $ref: '#/components/responses/resp422'
      x-swagger-router-controller: Greencard

  /greencard/calculate:
    post:
      tags:
        - greencard
      summary: Расчет суммы по зеленой карте
      operationId: postGreencardCalculate
      requestBody:
        $ref: '#/components/requestBodies/greencardCalculate'
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                type: object
                properties:
                  price:
                    $ref: '#/components/schemas/calculatePrice'
                  price_gos:
                    $ref: '#/components/schemas/calculatePrice'
                  cashback_amount:
                    $ref: '#/components/schemas/cashback_amount'
        '422':
          $ref: '#/components/responses/resp422'
      x-swagger-router-controller: Greencard

  /vzr:
    post:
      tags:
        - vzr
      summary: Сохранение полиса ВЗР
      operationId: postVzr
      requestBody:
        $ref: '#/components/requestBodies/vzrSave'
      responses:
        '201':
          description: ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/order'
        '422':
          $ref: '#/components/responses/resp422'
      x-swagger-router-controller: VZR

  /vzr/calculate:
    post:
      tags:
        - vzr
      summary: Расчет суммы по ВЗР
      operationId: postVzrCalculate
      requestBody:
        $ref: '#/components/requestBodies/vzrCalculate'
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                type: object
                properties:
                  price:
                    type: integer
                  days:
                    type: integer
                  ranges:
                    type: array
                    items:
                      type: integer
                  ranges_total_price:
                    type: integer
        '422':
          $ref: '#/components/responses/resp422'
      x-swagger-router-controller: VZR

  /osago:
    post:
      tags:
        - osago
      summary: Сохранение полиса ОСАГО
      operationId: postOsago
      requestBody:
        $ref: '#/components/requestBodies/osago'
      responses:
        '201':
          description: ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/order'
        '422':
          $ref: '#/components/responses/resp422'
      x-swagger-router-controller: Osago

  /osago/calculate:
    post:
      tags:
        - osago
      summary: Расчет суммы по ОСАГО
      operationId: postOsagoCalculate
      requestBody:
        $ref: '#/components/requestBodies/osagoCalculate'
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                type: object
                properties:
                  prices:
                    type: array
                    items:
                      type: object
                      properties:
                        tariff:
                          $ref: '#/components/schemas/tariff'
                        price:
                          type: number
                          description: Сумма
        '422':
          $ref: '#/components/responses/resp422'
      x-swagger-router-controller: Osago

  /osago/tariffs:
    get:
      tags:
        - osago
      summary: Получение тарифов по ОСАГО
      operationId: getOsagoTariffs
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    franchise:
                      type: number
                      description: Размер франшизы
                    tariff:
                      $ref: '#/components/schemas/tariff'
                    coefficient:
                      type: number
      x-swagger-router-controller: Osago

  /osago/salamandra:
    post:
      tags:
        - osago-salamandra
      summary: Сохранение полиса ОСАГО через Саламандру
      operationId: postOsagoSalamandra
      requestBody:
        $ref: '#/components/requestBodies/osagoSalamandra'
      responses:
        '201':
          description: ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/order'
        '422':
          $ref: '#/components/responses/resp422'
      x-swagger-router-controller: Osago

  /osago/salamandra/calculate:
    post:
      tags:
        - osago-salamandra
      summary: Расчет суммы по ОСАГО
      operationId: postOsagoSalamandraCalculate
      requestBody:
        $ref: '#/components/requestBodies/osagoSalamandraCalculate'
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      totalPayment:
                        type: number
                      prices:
                        type: object
                        description: Детализация
                        properties:
                          osago:
                            type: number
                            description: Сумма за полис ОСАГО
                          pu:
                            type: number
                            nullable: true
                            description: Сумма за "Пряме врегулювання"
                          dgo:
                            type: number
                            nullable: true
                            description: Сумма за "Додаткові розширення ліміту"
                          dms:
                            type: number
                            nullable: true
                            description: Сумма за "Медична допомога при ДТП"

        '422':
          $ref: '#/components/responses/resp422'
      x-swagger-router-controller: OsagoSalamandra

  /osago/salamandra/tariffs:
    post:
      tags:
        - osago-salamandra
      summary: Получение тарифов по ОСАГО
      operationId: postOsagoSalamandraTariffs
      requestBody:
        $ref: '#/components/requestBodies/osagoSalamandraTariffs'
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      prices:
                        type: object
                        description: Детализация
                        properties:
                          osago:
                            type: object
                            description: Список франшиз с их стоимостю, где ключ - это размер франшизы, а значение - сумма
                            example: {
                              "1500": 877,
                              "2600": 678,
                              "3200": 668
                            }
                          pu:
                            type: object
                            description: Суммы за "Пряме врегулювання", где ключ - это размер франшизы, а значение - сумма
                            example: {
                              "1500": 571,
                              "2600": 441,
                              "3200": 435
                            }
                          dgo:
                            type: object
                            nullable: true
                            description: Сумма за "Додаткові розширення ліміту", где ключ - это размер расширения лимита, а значение - сумма
                            example: {
                              "1000000": 800,
                              "500000": 500,
                              "300000": 330,
                              "200000": 280,
                              "100000": 180
                            }
                          dms:
                            type: number
                            description: Сумма за "Медична допомога при ДТП"
                            example: 300
        '422':
          $ref: '#/components/responses/resp422'
      x-swagger-router-controller: OsagoSalamandra

  /orders/{uuid}:
    get:
      tags:
        - orders
      summary: Получение информации о полисе
      operationId: getOrder
      parameters:
        - $ref: '#/components/parameters/orderUuid'
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/order'
        '422':
          $ref: '#/components/responses/resp422'
      x-swagger-router-controller: Orders

  /orders/{uuid}/sms/send:
    post:
      tags:
        - orders
      summary: Отправка кода СМС для подтверждения
      operationId: sendSmsOrder
      parameters:
        - $ref: '#/components/parameters/orderUuid'
      responses:
        '200':
          $ref: '#/components/responses/resp200Status'
        '400':
          $ref: '#/components/responses/resp400'
      x-swagger-router-controller: Sms

  /orders/{uuid}/sms/confirm:
    post:
      tags:
        - orders
      summary: Подтверждение СМС
      operationId: confirmSmsOrder
      parameters:
        - $ref: '#/components/parameters/orderUuid'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - code
              properties:
                code:
                  type: string
                  example: UA123456
      responses:
        '200':
          $ref: '#/components/responses/resp200Status'
        '400':
          $ref: '#/components/responses/resp400'
      x-swagger-router-controller: Sms

  /orders/promocode:
    get:
      tags:
        - orders
      summary: Проверка промокода
      operationId: getPromocode
      parameters:
        - $ref: '#/components/parameters/polisType'
        - $ref: '#/components/parameters/promocode'
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/promocodeObject'
        '404':
          $ref: '#/components/responses/resp404'
        '422':
          $ref: '#/components/responses/resp422'
      x-swagger-router-controller: Orders

components:
  requestBodies:
    greencardCalculate:
      content:
        application/json:
          schema:
            type: object
            required:
              - trip_country
              - trip_duration
              - transport
            description: Если upload_docs = false, обязательны все поля, кроме comment и files
            properties:
              trip_country:
                $ref: '#/components/schemas/orderTripCountry'
              trip_duration:
                $ref: '#/components/schemas/orderTripDuration'
              promocode:
                $ref: '#/components/schemas/promocode'
              transport:
                type: object
                description: Данные траспортного средства
                required:
                  - transport_category_id
                properties:
                  transport_category_id:
                    $ref: '#/components/schemas/orderTransportCategoryId'
    vzrCalculate:
      content:
        application/json:
          schema:
            type: object
            required:
              - polis_start
              - multiple_trip
              - epolis
              - with_greencard
              - territory
              - sport
              - target
              - insured_sum
              - tourists
            description: Если multiple_trip = true, то к обязательным добавляются `polis_end` и `vzr_range_day_id`
            properties:
              polis_start:
                $ref: '#/components/schemas/orderPolisStart'
              multiple_trip:
                $ref: '#/components/schemas/multiple_trip'
              epolis:
                $ref: '#/components/schemas/epolis'
              with_greencard:
                $ref: '#/components/schemas/with_greencard'
              polis_end:
                $ref: '#/components/schemas/orderPolisEnd'
              vzr_range_day_id:
                $ref: '#/components/schemas/vzr_range_day_id'
              territory:
                $ref: '#/components/schemas/territory'
              sport:
                $ref: '#/components/schemas/sport'
              target:
                $ref: '#/components/schemas/target'
              insured_sum:
                $ref: '#/components/schemas/insured_sum'
              promocode:
                $ref: '#/components/schemas/promocode'
              tourists:
                type: array
                required:
                  - birth
                items:
                  $ref: '#/components/schemas/tourist'
              ranges:
                type: array
                items:
                  type: string
                  enum:
                    - "0"
                    - "4-15"
                    - "16-18"
                    - "19-60"
                    - "61-65"
                    - "66-75"
    vzrSave:
      content:
        application/json:
          schema:
            type: object
            required:
              - email
              - polis_start
              - multiple_trip
              - epolis
              - with_greencard
              - territory
              - sport
              - target
              - insured_sum
              - tourists
            description: Если multiple_trip = true, то к обязательным добавляются `polis_end` и `vzr_range_day_id`
            properties:
              email:
                $ref: '#/components/schemas/email'
              polis_start:
                $ref: '#/components/schemas/orderPolisStart'
              multiple_trip:
                $ref: '#/components/schemas/multiple_trip'
              epolis:
                $ref: '#/components/schemas/epolis'
              with_greencard:
                $ref: '#/components/schemas/with_greencard'
              polis_end:
                $ref: '#/components/schemas/orderPolisEnd'
              vzr_range_day_id:
                $ref: '#/components/schemas/vzr_range_day_id'
              territory:
                $ref: '#/components/schemas/territory'
              sport:
                $ref: '#/components/schemas/sport'
              target:
                $ref: '#/components/schemas/target'
              insured_sum:
                $ref: '#/components/schemas/insured_sum'
              promocode:
                $ref: '#/components/schemas/promocode'
              dont_call:
                $ref: '#/components/schemas/dont_call'
              code:
                $ref: '#/components/schemas/code'
              code_date_end:
                $ref: '#/components/schemas/code_date_end'
              tourists:
                type: array
                items:
                  $ref: '#/components/schemas/tourist'
              insurant:
                type: object
                required:
                  - phone
                  - inn
                description: Данные страхователя
                properties:
                  phone:
                    $ref: '#/components/schemas/insurantPhone'
                  surname:
                    $ref: '#/components/schemas/insurantSurname'
                  name:
                    $ref: '#/components/schemas/insurantName'
                  inn:
                    $ref: '#/components/schemas/insurantInn'

    osagoCalculate:
      content:
        application/json:
          schema:
            type: object
            required:
              - foreign_check
              - discount_check
              - transport
              - insurant
            description: Если upload_docs = false, обязательны все поля, кроме comment и files
            properties:
              city_id:
                $ref: '#/components/schemas/cityId'
              city_name:
                $ref: '#/components/schemas/cityName'
              foreign_check:
                $ref: '#/components/schemas/foreignCheck'
              discount_check:
                $ref: '#/components/schemas/discountCheck'
              promocode:
                $ref: '#/components/schemas/promocode'
              transport:
                type: object
                description: Данные траспортного средства
                required:
                  - transport_category_id
                  - transport_power_id
                properties:
                  transport_category_id:
                    $ref: '#/components/schemas/orderTransportCategoryId'
                  transport_power_id:
                    $ref: '#/components/schemas/orderTransportPowerId'
              insurant:
                type: object
                description: Данные траспортного средства
                required:
                  - type
                properties:
                  type:
                    $ref: '#/components/schemas/insurantType'
    osagoSalamandraCalculate:
      content:
        application/json:
          schema:
            type: object
            required:
              - transport
              - city_id
              - franchise
            description: Если upload_docs = false, обязательны все поля, кроме comment и files
            properties:
              city_id:
                $ref: '#/components/schemas/salamandraCityId'
              franchise:
                type: integer
                description: Вариант размера франшизы из `POST /osago/salamandra/tariffs`
                example: 2600
              dgo_limit:
                type: integer
                nullable: true
                description: Дополнительная услуга "Додаткові розширення ліміту"
                example: 100000
              is_pu:
                type: boolean
                nullable: true
                description: Дополнительная услуга "Пряме врегулювання"
              is_dms:
                type: boolean
                nullable: true
                description: Дополнительная услуга "Медична допомога при ДТП"
              promocode:
                $ref: '#/components/schemas/promocode'
              transport:
                type: object
                description: Данные траспортного средства
                required:
                  - transport_power_id
                properties:
                  transport_power_id:
                    $ref: '#/components/schemas/orderTransportPowerId'
    osagoSalamandraTariffs:
      content:
        application/json:
          schema:
            type: object
            required:
              - transport
              - city_id
            description: Если upload_docs = false, обязательны все поля, кроме comment и files
            properties:
              city_id:
                $ref: '#/components/schemas/salamandraCityId'
              transport:
                type: object
                description: Данные траспортного средства
                required:
                  - transport_power_id
                properties:
                  transport_power_id:
                    $ref: '#/components/schemas/orderTransportPowerId'

    greencard:
      content:
        application/json:
          schema:
            type: object
            required:
              - trip_country
              - trip_duration
              - email
              - polis_start
              - upload_docs
              - insurant
              - transport
            description: Если upload_docs = false, обязательны все поля, кроме comment и files
            properties:
              trip_country:
                $ref: '#/components/schemas/orderTripCountry'
              trip_duration:
                $ref: '#/components/schemas/orderTripDuration'
              email:
                $ref: '#/components/schemas/email'
              polis_start:
                $ref: '#/components/schemas/orderPolisStart'
              upload_docs:
                $ref: '#/components/schemas/orderUploadDocs'
              comment:
                $ref: '#/components/schemas/comment'
              promocode:
                $ref: '#/components/schemas/promocode'
              dont_call:
                $ref: '#/components/schemas/dont_call'
              cashback_phone:
                type: string
                nullable: true
                description: Телефон для Cashback
              transport:
                type: object
                description: Данные траспортного средства
                required:
                  - transport_category_id
                properties:
                  transport_category_id:
                    $ref: '#/components/schemas/orderTransportCategoryId'
                  car_mark:
                    $ref: '#/components/schemas/orderCarMark'
                  car_model:
                    $ref: '#/components/schemas/orderCarModel'
                  gov_num:
                    $ref: '#/components/schemas/orderGovNum'
                  vin:
                    $ref: '#/components/schemas/orderVin'
                  car_year:
                    $ref: '#/components/schemas/orderCarYear'
              city_name:
                $ref: '#/components/schemas/cityName'
              insurant:
                type: object
                required:
                  - phone
                description: Данные страхователя
                properties:
                  phone:
                    $ref: '#/components/schemas/insurantPhone'
                  surname:
                    $ref: '#/components/schemas/insurantSurname'
                  name:
                    $ref: '#/components/schemas/insurantName'
                  surname_latin:
                    $ref: '#/components/schemas/insurantSurnameLatin'
                  name_latin:
                    $ref: '#/components/schemas/insurantNameLatin'
                  inn:
                    $ref: '#/components/schemas/insurantInn'
                  birth:
                    $ref: '#/components/schemas/insurantBirth'
        multipart/form-data:
          schema:
            type: object
            required:
              - trip_country
              - trip_duration
              - email
              - polis_start
              - upload_docs
              - insurant[phone]
              - transport[transport_category_id]
            description: Если upload_docs = false, обязательны все поля, кроме comment и files
            properties:
              trip_country:
                $ref: '#/components/schemas/orderTripCountry'
              trip_duration:
                $ref: '#/components/schemas/orderTripDuration'
              email:
                $ref: '#/components/schemas/email'
              polis_start:
                $ref: '#/components/schemas/orderPolisStart'
              upload_docs:
                $ref: '#/components/schemas/orderUploadDocs'
              files:
                $ref: '#/components/schemas/orderFiles'
              comment:
                $ref: '#/components/schemas/comment'
              transport[transport_category_id]:
                $ref: '#/components/schemas/orderTransportCategoryId'
              insurant[phone]:
                $ref: '#/components/schemas/insurantPhone'
    osago:
      content:
        application/json:
          schema:
            type: object
            required:
              - tariff
              - foreign_check
              - discount_check
              - email
              - polis_start
              - upload_docs
              - insurant
              - transport
            description: Если upload_docs = false, обязательны все поля, кроме comment, files, insurant.flat, promocode
            properties:
              city_id:
                $ref: '#/components/schemas/cityId'
              city_name:
                $ref: '#/components/schemas/cityName'
              foreign_check:
                $ref: '#/components/schemas/foreignCheck'
              discount_check:
                $ref: '#/components/schemas/discountCheck'
              tariff:
                $ref: '#/components/schemas/tariff'
              email:
                $ref: '#/components/schemas/email'
              polis_start:
                $ref: '#/components/schemas/orderPolisStart'
              upload_docs:
                $ref: '#/components/schemas/orderUploadDocs'
              comment:
                $ref: '#/components/schemas/comment'
              promocode:
                $ref: '#/components/schemas/promocode'
              dont_call:
                $ref: '#/components/schemas/dont_call'
              transport:
                type: object
                description: Данные траспортного средства
                required:
                  - transport_category_id
                  - transport_power_id
                properties:
                  transport_category_id:
                    $ref: '#/components/schemas/orderTransportCategoryId'
                  transport_power_id:
                    $ref: '#/components/schemas/orderTransportPowerId'
                  car_mark:
                    $ref: '#/components/schemas/orderCarMark'
                  car_model:
                    $ref: '#/components/schemas/orderCarModel'
                  gov_num:
                    $ref: '#/components/schemas/orderGovNum'
                  vin:
                    $ref: '#/components/schemas/orderVin'
                  car_year:
                    $ref: '#/components/schemas/orderCarYear'
              insurant:
                type: object
                required:
                  - type
                  - phone
                description: Данные страхователя
                properties:
                  type:
                    $ref: '#/components/schemas/insurantType'
                  phone:
                    $ref: '#/components/schemas/insurantPhone'
                  surname:
                    $ref: '#/components/schemas/insurantSurname'
                  name:
                    $ref: '#/components/schemas/insurantName'
                  patronymic:
                    $ref: '#/components/schemas/insurantPatronymic'
                  inn:
                    $ref: '#/components/schemas/insurantInn'
                  birth:
                    $ref: '#/components/schemas/insurantBirth'
                  address:
                    $ref: '#/components/schemas/insurantAddress'
                  street:
                    $ref: '#/components/schemas/insurantStreet'
                  house:
                    $ref: '#/components/schemas/insurantHouse'
                  flat:
                    $ref: '#/components/schemas/insurantFlat'
                  doc_type:
                    $ref: '#/components/schemas/insurantDocType'
                  doc_number:
                    $ref: '#/components/schemas/insurantDocNumber'
                  doc_series:
                    $ref: '#/components/schemas/insurantDocSeries'
                  doc_given:
                    $ref: '#/components/schemas/insurantDocGiven'
                  doc_date:
                    $ref: '#/components/schemas/insurantDocDate'
        multipart/form-data:
          schema:
            type: object
            required:
              - tariff
              - foreign_check
              - discount_check
              - email
              - polis_start
              - upload_docs
              - insurant[type]
              - insurant[phone]
              - transport[transport_category_id]
              - transport[transport_power_id]
            properties:
              tariff:
                $ref: '#/components/schemas/tariff'
              foreign_check:
                $ref: '#/components/schemas/foreignCheck'
              discount_check:
                $ref: '#/components/schemas/discountCheck'
              email:
                $ref: '#/components/schemas/email'
              polis_start:
                $ref: '#/components/schemas/orderPolisStart'
              upload_docs:
                $ref: '#/components/schemas/orderUploadDocs'
              files:
                $ref: '#/components/schemas/orderFiles'
              comment:
                $ref: '#/components/schemas/comment'
              transport[transport_category_id]:
                $ref: '#/components/schemas/orderTransportCategoryId'
              transport[transport_power_id]:
                $ref: '#/components/schemas/orderTransportPowerId'
              insurant[type]:
                $ref: '#/components/schemas/insurantType'
              insurant[phone]:
                $ref: '#/components/schemas/insurantPhone'
              promocode:
                $ref: '#/components/schemas/promocode'
    osagoSalamandra:
      content:
        application/json:
          schema:
            type: object
            required:
              - franchise
              - city_id
              - email
              - polis_start
              - upload_docs
              - insurant
              - transport
            description: Если upload_docs = false, обязательны все поля, кроме comment, files, insurant.flat, promocode
            properties:
              city_id:
                $ref: '#/components/schemas/salamandraCityId'
              franchise:
                type: integer
                description: Вариант размера франшизы из `POST /osago/salamandra/tariffs`
                example: 2600
              dgo_limit:
                type: integer
                nullable: true
                description: Дополнительная услуга "Додаткові розширення ліміту"
                example: 100000
              is_pu:
                type: boolean
                nullable: true
                description: Дополнительная услуга "Пряме врегулювання"
              is_dms:
                type: boolean
                nullable: true
                description: Дополнительная услуга "Медична допомога при ДТП"
              email:
                $ref: '#/components/schemas/email'
              polis_start:
                $ref: '#/components/schemas/orderPolisStart'
              upload_docs:
                $ref: '#/components/schemas/orderUploadDocs'
              comment:
                $ref: '#/components/schemas/comment'
              promocode:
                $ref: '#/components/schemas/promocode'
              dont_call:
                $ref: '#/components/schemas/dont_call'
              transport:
                type: object
                description: Данные траспортного средства
                required:
                  - transport_category_id
                  - transport_power_id
                properties:
                  transport_category_id:
                    $ref: '#/components/schemas/orderTransportCategoryId'
                  transport_power_id:
                    $ref: '#/components/schemas/orderTransportPowerId'
                  car_mark:
                    $ref: '#/components/schemas/orderCarMark'
                  car_model:
                    $ref: '#/components/schemas/orderCarModel'
                  gov_num:
                    $ref: '#/components/schemas/orderGovNum'
                  vin:
                    $ref: '#/components/schemas/orderVin'
                  car_year:
                    $ref: '#/components/schemas/orderCarYear'
              insurant:
                type: object
                required:
                  - type
                  - phone
                description: Данные страхователя
                properties:
                  type:
                    $ref: '#/components/schemas/insurantType'
                  phone:
                    $ref: '#/components/schemas/insurantPhone'
                  surname:
                    $ref: '#/components/schemas/insurantSurname'
                  name:
                    $ref: '#/components/schemas/insurantName'
                  patronymic:
                    $ref: '#/components/schemas/insurantPatronymic'
                  inn:
                    $ref: '#/components/schemas/insurantInn'
                  birth:
                    $ref: '#/components/schemas/insurantBirth'
                  address:
                    $ref: '#/components/schemas/insurantAddress'
                  street:
                    $ref: '#/components/schemas/insurantStreet'
                  house:
                    $ref: '#/components/schemas/insurantHouse'
                  flat:
                    $ref: '#/components/schemas/insurantFlat'
                  doc_type:
                    $ref: '#/components/schemas/insurantDocType'
                  doc_number:
                    $ref: '#/components/schemas/insurantDocNumber'
                  doc_series:
                    $ref: '#/components/schemas/insurantDocSeries'
                  doc_given:
                    $ref: '#/components/schemas/insurantDocGiven'
                  doc_date:
                    $ref: '#/components/schemas/insurantDocDate'
        multipart/form-data:
          schema:
            type: object
            required:
              - franchise
              - city_id
              - email
              - polis_start
              - upload_docs
              - insurant[type]
              - insurant[phone]
              - transport[transport_category_id]
              - transport[transport_power_id]
            properties:
              city_id:
                $ref: '#/components/schemas/salamandraCityId'
              franchise:
                type: integer
                description: Вариант размера франшизы из `POST /osago/salamandra/tariffs`
                example: 2600
              dgo_limit:
                type: integer
                nullable: true
                description: Дополнительная услуга "Додаткові розширення ліміту"
                example: 100000
              is_pu:
                type: boolean
                nullable: true
                description: Дополнительная услуга "Пряме врегулювання"
              is_dms:
                type: boolean
                nullable: true
                description: Дополнительная услуга "Медична допомога при ДТП"
              email:
                $ref: '#/components/schemas/email'
              polis_start:
                $ref: '#/components/schemas/orderPolisStart'
              upload_docs:
                $ref: '#/components/schemas/orderUploadDocs'
              files:
                $ref: '#/components/schemas/orderFiles'
              comment:
                $ref: '#/components/schemas/comment'
              transport[transport_category_id]:
                $ref: '#/components/schemas/orderTransportCategoryId'
              transport[transport_power_id]:
                $ref: '#/components/schemas/orderTransportPowerId'
              insurant[type]:
                $ref: '#/components/schemas/insurantType'
              insurant[phone]:
                $ref: '#/components/schemas/insurantPhone'
              promocode:
                $ref: '#/components/schemas/promocode'

  schemas:
    calculatePrice:
      type: number
      description: Сумма
    cashback_amount:
      type: number
      nullable: true
      description: Сумма Cashback
    insuredSum:
      type: number
      nullable: true
      description: Страховая сумма
    orderTripCountry:
      type: string
      description: Зона покрытия полиса
      nullable: true
      enum:
        - sng
        - eu
    orderTripDuration:
      type: number
      description: Количество месяцев, от 1 до 12, 0 = 15 дней
      nullable: true
      example: 0
    promocode:
      type: string
      description: Промокод
      nullable: true
      example: SALE10
    code:
      type: string
      description: Код для идентификации
      nullable: true
      example: UA123543
    code_date_end:
      type: string
      description: Срок действия кода идентификации
      nullable: true
      example: "2023-01-01 12:00:00"
    email:
      type: string
      format: email
    tariff:
      type: string
      description: Тариф
      example: econom
    cityId:
      type: integer
    salamandraCityId:
      type: integer
      description: ID города из поиска `GET /handbooks/cities/local`
    comment:
      type: string
      description: Комментарий
      nullable: true
    orderPolisStart:
      type: string
      description: Начало действия полиса, не раньше, чем завтра
      format: date
    orderPolisEnd:
      type: string
      description: Окончание действия полиса
      nullable: true
      format: date
    orderUploadDocs:
      type: boolean
      description: Пометка, что будут загружены документы
    foreignCheck:
      type: boolean
      description: Пометка, что иностранная регистрация
    discountCheck:
      type: boolean
      description: Пометка, что есть льгота
    gc_plus:
      type: boolean
      description: Пометка, что включен GreenCard +
    dont_call:
      type: boolean
      description: Пометка не перезванивать
    gc_plus_price:
      type: number
      description: Сумма за GreenCard +
    orderFiles:
      type: array
      description: Обязательно, если upload_docs = true
      items:
        type: string
        format: binary
    orderTransportCategoryId:
      type: integer
      description: ID категории транспорта (тип авто) - из справочника
    orderTransportPowerId:
      type: integer
      description: ID мощности транспорта - из справочника
    orderCarMark:
      type: string
      nullable: true
      description: Название марки авто
    orderCarModel:
      type: string
      nullable: true
      description: Название модели авто
    orderGovNum:
      type: string
      nullable: true
      description: Гос. номер авто
    orderVin:
      type: string
      nullable: true
      description: VIN авто
    orderCarYear:
      type: integer
      nullable: true
      description: Год выпуска авто (4 цифры, от 1970 до текущего года включительно)
      example: 2010
    cityName:
      type: string
      description: Название города
    insurantPhone:
      type: string
      description: Телефон страхователя
    insurantSurname:
      type: string
      nullable: true
      description: Фамилия страхователя
    insurantSurnameLatin:
      type: string
      nullable: true
      description: Фамилия страхователя на латинице
    insurantName:
      type: string
      nullable: true
      description: Имя страхователя
    insurantPatronymic:
      type: string
      nullable: true
      description: Отчество страхователя
    insurantAddress:
      type: string
      nullable: true
      description: Адрес страхователя
    insurantStreet:
      type: string
      nullable: true
      description: Улица страхователя
    insurantHouse:
      type: string
      nullable: true
      description: Номер дома
    insurantFlat:
      type: string
      nullable: true
      description: Номер квартиры
    insurantNameLatin:
      type: string
      nullable: true
      description: Имя страхователя на латинице
    insurantInn:
      type: string
      nullable: true
      description: ИНН страхователя (10 цифр)
    insurantBirth:
      type: string
      format: date
      nullable: true
      description: Дата рождения
    insurantType:
      type: string
      description: Юридическое или физическое лицо
      enum:
        - physical
        - juristic
    insurantDocType:
      type: string
      nullable: true
      description: Тип документа
      enum:
        - passport
        - license
        - id
    insurantDocNumber:
      type: string
      nullable: true
      description: Номер документа
    insurantDocSeries:
      type: string
      nullable: true
      description: Серия документа
    insurantDocGiven:
      type: string
      nullable: true
      description: Кем выдан
    insurantDocDate:
      type: string
      nullable: true
      format: date
      description: Дата выдачи
    created_at:
      type: string
      format: datetime
    updated_at:
      type: string
      format: datetime
    vzr_range_day_id:
      type: integer
      description: ID количества дней пногоразовой поездки. Обязательно, при `multiple_trip = true`
    multiple_trip:
      type: boolean
      description: Флаг многоразовой поездки
    epolis:
      type: boolean
      description: Флаг электронного полиса
    with_greencard:
      type: boolean
      description: Флаг, что полис покупается вместе с полисом Greencard
    territory:
      type: string
      enum:
        - europe
        - world
      description: Территория действия
    sport:
      type: string
      enum:
        - none
        - active
        - pro
      description: Занятия спортом
    target:
      type: string
      enum:
        - rest
        - work
        - learn
      description: Цель поездки
    insured_sum:
      type: number
      enum:
        - 30000
        - 50000
        - 75000
    full_name:
      type: string
      description: ФИО
    tourist:
      type: object
      required:
        - birth
        - full_name
        - doc_number
      properties:
        birth:
          $ref: '#/components/schemas/insurantBirth'
        full_name:
          $ref: '#/components/schemas/full_name'
        doc_number:
          $ref: '#/components/schemas/insurantDocNumber'

    defaultStatus:
      type: object
      properties:
        success:
          type: boolean
          example: TRUE
    defaultError:
      type: object
      properties:
        success:
          type: boolean
          example: false
        message:
          type: string
          description: Описание ошибки
    defaultErrorArray:
      type: object
      properties:
        success:
          type: boolean
          example: false
        message:
          type: object
          description: Ошибки
    findVehicle:
      type: object
      properties:
        LicenceNum:
          type: string
          example: АХ2989ЕІ
        VIN:
          type: string
          example: AAAAAAA1A1A011111
        BodyNum:
          type: string
          nullable: true
        ChassisNum:
          type: string
          nullable: true
        Brand:
          type: string
          example: MITSUBISHI
        Model:
          type: string
          example: LANCER
          nullable: true
        MakeYear:
          type: integer
          example: 2007
        PersonStatusCode:
          type: string
          example: P
        Color:
          type: string
          example: ЗЕЛЕНИЙ
        Kind:
          type: string
          example: ЛЕГКОВИЙ
        BodyType:
          type: string
          example: СЕДАН-B
        Purpose:
          type: string
          example: ЗАГАЛЬНИЙ
        FuelType:
          type: string
          example: БЕНЗИН
        PersonStatus:
          type: string
          example: Фізична особа
        PlacesCount:
          type: integer
          example: 5
        Capacity:
          type: integer
          example: 1584
        OwnWeight:
          type: integer
          example: 1280
        TotalWeight:
          type: integer
          example: 1770
        RegAddr:
          type: string
          example: М. ХАРКІВ,ХАРКІВСЬКА ОБЛ.,УКРАЇНА
        OwnAddr:
          type: string
          example: МОСКОВСЬКИЙ,М. ХАРКІВ,ХАРКІВСЬКА ОБЛ.,УКРАЇНА
        PersonAge:
          type: string
          example: 34
    cars:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
    carModels:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        year_start:
          type: integer
          nullable: true
        year_end:
          type: integer
          nullable: true
    transport:
      type: object
      properties:
        id:
          type: integer
          example: 1
        name_ua:
          type: string
          example: Легковий автомобіль
        name_ru:
          type: string
          example: Легковой автомобиль
        alias:
          type: string
          example: car
        ordering:
          type: integer
          example: 1
    transportPower:
      type: object
      properties:
        id:
          type: integer
          example: 1
        name_ua:
          type: string
          example: до 1600 куб.см
        name_ru:
          type: string
          example: до 1600 куб.см
        coefficient:
          type: number
          example: 1.14
        ordering:
          type: integer
          example: 1
    vzrRange:
      type: object
      properties:
        id:
          type: integer
          example: 1
        name:
          type: string
          example: "180"
        active:
          type: boolean
          example: true
    vzrRangeDay:
      type: object
      properties:
        id:
          type: integer
          example: 5
        vzr_range_id:
          type: integer
          example: 1
        days:
          type: integer
          example: 30
        sum:
          type: number
          example: 13.2
    findCityLocal:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
          example: Одеса
        name_eng:
          type: string
          example: Odesa
        region_name:
          type: string
          description: Одеська область
    findCity:
      type: object
      properties:
        name:
          type: string
          example: Одеса
        country:
          type: string
          example: UA
        region:
          type: object
          properties:
            caption:
              type: string
              example: Одеська
            postfix:
              type: string
              example: обл.
            country:
              type: string
              example: UA
        postIndex:
          type: string
          example: 65000
        'type':
          type: string
          example: город
        mtsbuId:
          type: integer
          example: 152
        calcZone:
          type: object
          example: 2
    innInfo:
      type: object
      properties:
        inn:
          type: string
        sex:
          type: string
          enum:
            - Male
            - Female
        control:
          type: integer
          description: Контрольное число
        status:
          type: boolean
          description: Статус, прошел ли номер проверку, если статус `false`, то номер указан неправильно
        birth:
          type: string
          format: date
        day:
          type: string
          description: День рождения
        month:
          type: string
          description: Месяц рождения
        year:
          type: string
          description: Год рождения
    promocodeObject:
      type: object
      properties:
        code:
          type: string
        type:
          type: string
          description: Тип скидки - процент или сумма
          enum:
            - amount
            - percent
        discount:
          type: number
          description: Размер скидки
        expired_at:
          type: string
          nullable: true
          format: date
    order:
      type: object
      properties:
        uuid:
          type: string
          example: 67eb225a-5f53-48ad-901a-54eb183c13b4
        order_type:
          type: string
          enum:
            - greencard
            - osago
            - vzr
            - kasko
        tariff:
          type: string
          nullable: true
        polis_start:
          $ref: '#/components/schemas/orderPolisStart'
        polis_end:
          $ref: '#/components/schemas/orderPolisEnd'
        foreign_check:
          $ref: '#/components/schemas/foreignCheck'
        discount_check:
          $ref: '#/components/schemas/discountCheck'
        trip_country:
          $ref: '#/components/schemas/orderTripCountry'
        trip_duration:
          $ref: '#/components/schemas/orderTripDuration'
        email:
          $ref: '#/components/schemas/email'
        city_id:
          $ref: '#/components/schemas/cityId'
        city_name:
          $ref: '#/components/schemas/cityName'
        upload_docs:
          $ref: '#/components/schemas/orderUploadDocs'
        price:
          $ref: '#/components/schemas/calculatePrice'
        full_price:
          $ref: '#/components/schemas/calculatePrice'
        insured_sum:
          $ref: '#/components/schemas/insuredSum'
        gc_plus:
          $ref: '#/components/schemas/gc_plus'
        gc_plus_price:
          $ref: '#/components/schemas/gc_plus_price'
        payment_type:
          type: string
          example: liqpay
        payment_status:
          type: string
          example: invoice_wait
        payment_url:
          type: string
          example: https://www.liqpay.ua
        comment:
          $ref: '#/components/schemas/comment'
        created_at:
          $ref: '#/components/schemas/created_at'
        updated_at:
          $ref: '#/components/schemas/updated_at'
        cashback_phone:
          type: string
          nullable: true
          description: Телефон для Cashback
        cashback_amount:
          $ref: '#/components/schemas/cashback_amount'
        multiple_trip:
          $ref: '#/components/schemas/multiple_trip'
        with_greencard:
          $ref: '#/components/schemas/with_greencard'
        vzr_range_day_id:
          $ref: '#/components/schemas/vzr_range_day_id'
        territory:
          $ref: '#/components/schemas/territory'
        sport:
          $ref: '#/components/schemas/sport'
        target:
          $ref: '#/components/schemas/target'
        transport:
          type: object
          description: Данные траспортного средства
          nullable: true
          properties:
            transport_category_id:
              $ref: '#/components/schemas/orderTransportCategoryId'
            car_mark:
              $ref: '#/components/schemas/orderCarMark'
            car_model:
              $ref: '#/components/schemas/orderCarModel'
            gov_num:
              $ref: '#/components/schemas/orderGovNum'
            vin:
              $ref: '#/components/schemas/orderVin'
            car_year:
              $ref: '#/components/schemas/orderCarYear'

        insurant:
          type: object
          nullable: true
          description: Данные страхователя
          properties:
            phone:
              $ref: '#/components/schemas/insurantPhone'
            surname:
              $ref: '#/components/schemas/insurantSurname'
            name:
              $ref: '#/components/schemas/insurantName'
            surname_latin:
              $ref: '#/components/schemas/insurantSurnameLatin'
            name_latin:
              $ref: '#/components/schemas/insurantNameLatin'
            inn:
              $ref: '#/components/schemas/insurantInn'
            birth:
              $ref: '#/components/schemas/insurantBirth'
        tourists:
          type: array
          nullable: true
          items:
            $ref: '#/components/schemas/tourist'
  responses:
    resp200Status:
      description: OK
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/defaultStatus'
    resp400:
      description: Ошибка
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/defaultError'
    resp404:
      description: Не найдено
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/defaultError'
    resp422:
      description: Ошибка валидации
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/defaultErrorArray'
  parameters:
    search:
      in: query
      name: search
      description: Строка поиска
      schema:
        type: string
        nullable: true
    calcType:
      in: query
      name: calc_type
      description: Тип калькулятора
      schema:
        type: string
        enum:
          - osago
          - zk
    orderUuid:
      in: path
      required: true
      name: uuid
      description: UUID полиса
      schema:
        type: string
        example: 67eb225a-5f53-48ad-901a-54eb183c13b4

    polisType:
      in: query
      name: polis_type
      description: Тип полиса
      required: true
      schema:
        type: string
        enum:
          - osago
          - greencard
          - kasko
          - vzr
    promocode:
      in: query
      name: promocode
      description: Промокод
      required: true
      schema:
        type: string
